/* for bootstrap scrollspy */
html {
	height: 100%;
}

:root {
	--gold: #b7a57a;
	--purple: #4b2e83;
	--orange: #d14c00;
}

body {
	padding-top: 70px;
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	text-align: justify;
}

a { 
	text-decoration: none; 
	color: var(--gold);
}

a:hover {
	color: var(--purple);
}

a.black {
	color: #000000;
}

h1, h2, h3 {
	color: var(--orange); 
	font-variant: small-caps;
}

h3.subsection {
	border-bottom: 2px solid var(--orange);
}

img.full-width {
	width: 100%;
}

.navbar-brand {
	font-size: 20pt;
}

.topnav {
	border-bottom: 3px solid var(--orange);
	background-color: var(--purple);
}

li.active, .nav li a:hover {
	background-color: var(--orange);
}

.navbar a {
	color: #fff;
}

p.citation {
	margin-left: 20px;
	text-indent: -20px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.journaltitle {
  /* color: #2a6496; */
	color: var(--purple);
}
