.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.responses {
	margin-top: 180px;
}

.left_response {
	display: block;
	float: left;
	text-align: left;
	font-size: 120%;
}

.right_response {
	display: block;
	float: right;
	text-align: right;
	font-size: 120%;
}


#image_display{
	margin-top: 80px;
}
