.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

#easy_five_digit_table tr td , #hard_five_digit_table tr td , #familiarization_five_digit_table tr td {
	font-size: 24px;
	padding-left: 4px;
	padding-right: 4px;
}
